<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <% if (compras) {%>
    <table>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre del producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Foto</th>
            </tr>
        </thead>
        <tbody>
            < %for (var i=0; i <compras.length; i++) {%>
            <tr>
              <th scope="row"><%= compras[i].id %></th>
              <td><%= compras[i].title %></td>
              <td><%= compras[i].price %></td>
              <td>
                <img
                  rel="icon"
                  src="<%= compras[i].foto %>"
                  style="width: 30px; height: 30px"
                />
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <% }else{ %>
        <h1><%= noProd %></h1>
        <%}%>
                <div>
                    <button onclick="window.location.href='/'">
                        Volver a cargar productos
                    </button>
                </div>
</body>

</html>